.page{
    /*background-color: #cc8bf3;*/
    color: #3f285a;
    background: linear-gradient(to bottom, #e79bc4 0%, #9d06cd 100%);
    text-align: center;

}

.top_corner{
    /*position:absolute;*/
    bottom:0px;
    /*top:320px;*/
    right:0px;

}

.bottom_right{
    /*position:absolute;*/
    bottom:40px;
    /*top:280px;*/
    right:150px;
}

/**/

.text1{
    color: #170228;
    text-align: left;
    margin-left:100px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bolder;
    font-family: "Arial";
    font-size: medium;
}

.text{
    color: #c384e7;
    text-align: left;
    margin-left:2px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bolder;
    font-family: "Arial";
    font-size: medium;
}


.text1{
    color: #c38be3;
    text-align: left;
    margin-left:10px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bolder;
    font-family: "Arial";
    font-size: medium;
}
.navbar-color {
    background: linear-gradient( #2a0334, #983698);


}
.navbar-color1 {
    background-color: #31023e;
    font-family: Arial;



}
/*P {
    color: #9980ac;
    text-align: left;
    margin-left: 80px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bolder;
    font-family: "Times New Roman";
    font-size: medium;
}*/
.btn-link {
    font-weight: normal;
    color: black;
    background-color: transparent;
}

.Usage{
    margin-top: 30px;
    margin-left: 700px;
}

.locate{

    margin-left: 95px;


}



.App {
    text-align: center;
    width: 100%;
    margin: 2px auto;
}

.row{
    margin-top: 0px;
}
.list{
    margin-left: 800px;
    margin-top:-50px;

}
.text2{
    color: #c38be3;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bolder;
    font-family: "Arial";
    font-size: medium;
    margin-right: 20px;
}
.row{
    margin-top: 0px;
}
.list{
    margin-left: 800px;
    margin-top:-50px;

}
.text2{
    color: #c38be3;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bolder;
    font-family: "Arial";
    font-size: medium;
    margin-right: 20px;
}