/*page border*/


/*page divide into two parts*/
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    padding: 10px;
}

/*left part*/
.left {
    left: 0;
    background-color: #dab6fd;
}

/*right part*/
.right {
    right: 0;
    background-color: #d1bdf5;
}

/*image properties*/
.centered img {
    width: 300px;
    height: 300px;
    border-radius: 50%;

}


/*half page properties*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}


/*text style*/
.p1 {
    font-family: "Times New Roman", Times, serif;
    color: #5a2e94;
    text-shadow: 0.5px 1px 1px black;
    font-size: 30px;
    font-weight: bold;
   text-align: center;

}


/*text animation*/
#movetxt {
    position: relative;
    -webkit-animation: moving 10s infinite;
    animation: moving 5s infinite;
}

@-webkit-keyframes moving {
    from {top: -500px;}
    to {top: 50px;}
}

@keyframes moving {
    from {bottom: -500px;}
    to {bottom: 20px;}
}


/*outline border*/
p.groove {
    outline-style: groove;
    border: 1px solid black;
    outline-style: solid;
    outline-color:#48069e;
    outline-width: medium;}


/*contact info properties*/
.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    background-color: #dab6fd;
    padding: 20px;
}

