/*page border*/



.bg{
    background-color: #dab6fd;
}

/*image properties*/
.centered img {
    width: 300px;
    height: 300px;
    border-radius: 50%;

}



.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}


/*text style*/
.p1 {
    font-family: "Times New Roman", Times, serif;
    color: #5a2e94;
    text-shadow: 0.5px 1px 1px black;
    font-size: 30px;
    font-weight: bold;
   text-align: center;

}


