

/* Clear floats after the columns
 .row:after {
    content: "";
    display: table;
    clear: both;
    background-color: #d1bdf5;
}*/




/*.bg{*/
/*    backgroundColor: #d1bdf5;*/
/*}*/

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    font-weight: bold;
    background-color: #aa83c8;

}
.select-selected {
    background-color: #9b50d2;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #521ed0 transparent transparent transparent;
    font-weight: bold;
    font-family: "Arial";
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #6344d2 transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #6f18bc;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    /*position: absolute;*/
    background-color: #6f18bc;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    font-weight: bold;
    font-family: "Arial";
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgb(29, 4, 65);
}


.top_left{
    position:absolute;
    top:20px;
    left:10px;
}

.photon {
    /*height: 218px;*/
    width: max-content;
    margin-left: 0px;
}
.page{
    padding: 2%;
    background-color: #cc8bf3;
    color: #3f285a;
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
}

.bottom_corner{
    position : center;
    bottom:0px;
    /*top:320px;*/
    right:0px;
    width: 260px;
    margin-top: 0px;
    padding: 10px;

}

.bottom_right{
    margin-top: 0px;
    position : center;
    /*position:absolute;*/
    bottom:0px;
    /*top:280px;*/
    width: 210px;
    padding: 10px;

}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

.item1 {
    grid-column-end: span 3;
}

.grid-item2 {
    background-color: #fcf9fd;
    border: 1px #0e0e0e; /*solid*/
    padding: 5px;
    left:10px ;
    font-size:16px;
    text-align: left;
    font-color: #e943e9;
    font-weight: bold;
    font-family: "Arial";
}

/*tr:hover
{
    background-color: #4a2fb0;
    color: white;
    cursor: pointer;
}*/




/* Define the default color for all the table rows */



