.grid-container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    background-color: #c9adea;
    /*padding: 10px;*/
    grid-column-gap: 0.01em;
    grid-row-gap: 0.1em;
    margin-top: 0px;

}

.cale
{
    padding-bottom: 20px;
    margin-top: -90px;
margin-right: 900px;
    margin-left: -180px;

}
.grid-item {
    background-color: #f6f5f6;
    border: 0.5px solid #171618;
    /*margin-left: 1px;*/
    /*margin-right: 2px;*/
    /*margin-bottom: 4px;*/
    padding:3px;
    font-size:14px;
    text-align: center;
    font-weight: bold;
    font-family: "Arial";


}
/*grid*/

.Usage{

    margin-left: -2px;
    /*margin-bottom: 200px;*/
}