.grid-container {
    display: grid;
    grid-template-columns: repeat(17, 2fr);
    background-color: #cc8bf3;
    /*padding: 10px;*/
    grid-column-gap: 0.1em;
    grid-row-gap: 0.1em;
    margin-top: 0px;
}


.grid-item {
    background-color: #cc8bf3;
    border: 1px solid #3f285a;
    padding: 4px;
    font-size:14px;
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman";
}
/*grid*/
